<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Kulim Park' rel='stylesheet'>
<style>
body {
    background-color:rgb(189, 102, 108);
    font-family: 'Kulim Park';font-size: 22px;
    font-style: normal;
}
</style>
    <title style="">ToDoWoo</title>
  </head>
  <body>
    {% if user.is_authenticated %}


{% load static %}

    <nav class="navbar navbar-expand-lg light bg-warning">
      <img src="{% static 'images.jpeg' %}" width="30" height="30" alt="">
      <a class="navbar-brand" href="#">ToDoWoo</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

Logged in as {{ user.username }}

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ToDos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'createtodo' %}" >Create</a>
            <a class="dropdown-item" href="{% url 'currenttodos' %}">Current</a>
            <a class="dropdown-item" href="{% url 'completedtodo' %}">Completed</a>

          </div>
        </li>

      </ul>
      <br>
      <br>


    <form class="form-inline my-2 my-lg-0" action="{% url 'logoutuser' %}" method="POST">
      {% csrf_token %}

      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="button">Logout</button>
    </form>

  </div>
</nav>






      {% else %}
    <h1 style="text-align:center; background-color:rgb(120, 120, 120);">Welcome to ToDo Woo</h1>

    <div class="text-center">

      <a class="btn btn-primary" href="{% url 'signupuser' %}" role="button">Sign Up</a>

      <a class="btn btn-primary" href="{% url 'loginuser' %}" role="button">Sign In</a>
    </div>


    {% endif %}


    {% block content %}{% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
